.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 88px;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
  }
}

.header__logo-web {
  color: var(--link-text-color);
}

.header__logo-studio {
  color: #000000;
}

.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__logo-web {
  color: var(--link-text-color);
}

.footer__logo-studio {
  color: #ffffff;
}
