.client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.client__list {
    --item: 6;
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: #AFB1B8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover {
    border: 1px solid var(--link-text-color);
    color: var(--link-text-color);
}

.client__logo {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.client__logo:hover {
    fill: var(--link-text-color);
}